
HTML, BODY {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

.seqtextarea {
  width: 98%;
  height: 25em;
}

#blastreport A {  
  font-family: monospace;
}

#blastreport TH {
  text-align: left;
}

